/** 
 -------------------Initialisation-----------------

*/
@font-face{
    font-family: 'Montserrat-bold';
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
}
@font-face{
    font-family: 'Montserrat-black';
    src: url('../fonts/Montserrat/Montserrat-Black.ttf');
}
@font-face{
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face{
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat/Montserrat-Light.ttf');
}
@font-face{
    font-family: 'Roboto-Regular';
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}
@font-face{
    font-family: 'Ubuntu-Regular';
    src: url('../fonts/ubuntu/UbuntuMono-Regular.ttf');
}
@font-face{
    font-family: 'Ubuntu-Bold';
    src: url('../fonts/ubuntu/UbuntuMono-Bold.ttf');
}

/** VARIABLES */
:root{
    --bg-color-one:#db4b50;
    --bg-color:#d92950;
    --color-danger:#e95051;
    --color-white:#ffff;
    --color-whitedark:#f1f0f3;
    --color-dark:#424345;
    --color-danger-dark:#ae3e53;
    --btn-danger:#db4b50;
    --bg-form-section:#1d1b25;
    --violet:#392546;
    --font-montserra-black:'Montserrat-black',sans-serif;
    --font-montserra-bold:'Montserrat-bold',sans-serif;
    --font-montserra-regular:'Montserrat-Regular',sans-serif;
    --font-roboto-regular:'Roboto-Regular',sans-serif;
    --font-montserra-light:'Montserrat-Light',sans-serif;
    --font-ubtuntu-bold:'Ubuntu-Bold',sans-serif;
    --font-ubtuntu-regular:'Ubuntu-Regular',sans-serif;
}
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    color: var(--color-white);
   
}
li{
    list-style: none;
}

/** 
 -------------------Debut-----------------

*/
html,body{
    background-color: var(--color-whitedark);
    font-size: 16px;
    font-family: var(--font-roboto-regular);

}
.header,.main{
    width: 100vw;
}

/**
  ------ ----Mes Utlitaires --------------------------
 */

.bg-white{
    background-color:var(--color-white);
}
.font-ubuntu{
    font-family: var(--font-ubtuntu-regular);
}
.font-montserra-light{
    font-family: var(--font-montserra-regular);
    font-weight: 400;
}
.font-montserra-bold{
    font-family: var(--font-montserra-bold);
}
/** la classe bouton= btn **/
.btn{
    background-color: #0c0303;
    color:var(--color-white);
    font-weight: bold;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    border: 1px solid var(--color-white);
    border-radius: 15px;
}
.btn-lg-danger{
    background-color:var(--btn-danger);
    color: var(--color-white);
    font-weight: bold;
    font-size: 20px;
    padding: 1.2rem 1.5rem;
    border: none;
    border-radius: 15px;
    border: 2px solid var(--color-white);
   
}
.btn-lg-danger:hover{
    background-color:var(--color-white);
    color: var(--btn-danger);
    border: 2px solid var(--btn-danger);
   
   
}
.btn-plan{
    border: 0;
}
.btn-plan:hover{
    background-color: var(--color-danger-dark);
    color: var(--color-white);
    border: 2px solid var(--color-white);
}
.btn-md-danger{
    background-color:var(--color-danger); ;
    color: var(--color-white);
    font-size: 1rem;
    padding: 1.2rem 1.2rem;
    
    
}
.border-btn-form{
    background-color: var(--bg-color-one);
    border: 2px solid #100f14;
    box-shadow: 2px 2px 4px #100f14;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    width: 8rem;
}
.border-btn-form:hover{
    border: 2px solid var(--bg-color-one);
    color: var(--color-white);
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--bg-form-section);
}
.btn-sm-danger{
    background-color:var(--color-danger); ;
    color: var(--color-white);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    
}
.btn-lg-white{
    background-color: var(--color-white);
    color:var(--color-danger); ;
    font-weight: bold;
    font-size: 20px;
    padding: 1.2rem 1.5rem;
    border: 3px solid var(--color-white);
    border-radius: 15px;
   
}
.btn-md-white{
    background-color: var(--color-white);
    color:var(--color-danger); ;
    font-size: 1rem;
    padding: 1.5rem 1.5rem;
    
}
.btn-sm-white{
    background-color: var(--color-white);
    color:var(--color-danger); ;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    
}

/** ---- Les margin, paddings generiques et les textes */
.mt-1{
    margin-top: 1.5rem;
}
.mt-0-5{
    margin-top: 0.5rem;
}
.mt-3{
    margin-top: 2.5rem;
}
.mt-3{
    margin-top: 3rem;
}
.mt-6{
    margin-top: 6rem;
}
.mb-1{
    margin-bottom: 1.5rem;
}
.mt-2{
    margin-bottom: 3rem;
}
.mb-3{
    margin-bottom: 3rem;
}
.mb-6{
    margin-bottom: 6rem;
}
.mr-01{
    margin-right: 0.5rem;
}
.mr-1{
    margin-right: 1.5rem;
}
.mr-2{
    margin-right: 2.5rem;
}
.mr-3{
    margin-right: 3.5rem;
}
.mr-6{
    margin-right: 6.5rem;
}
.ml-1{
    margin-left: 0.8rem;
}
.ml-3{
    margin-left: 3.5rem;
}
.ml-6{
    margin-left: 6.5rem;
}

.mlx-1{
    margin-left: 0.3rem;
}
.p-1{
    padding: 1.5rem;
}
.p-3{
    padding: 3rem;
}
.p-6{
    padding: 6rem;
}
.pt-1{
    padding-top: 1.5rem;
}
.pt-3{
    padding-top: 3rem;
}
.pt-6{
    padding-top: 6rem;
}
.pb-1{
    padding-bottom: 1.5rem;
}
.pb-3{
    padding-bottom: 3rem;
}
.pb-6{
    padding-bottom: 6rem;
}
.pr-1{
    padding-right: 1.5rem;
}
.pr-2{
    padding-right: 2.5rem;
}
.pr-6{
    margin-right: 40.5rem;
}
.pl-1{
    padding-left: 0.8rem;
}
.pl-3{
    margin-left: 3.5rem;
}
.pl-6{
    padding-left: 6.5rem;
}

.plx-1{
    padding-left: 0.3rem;
}
.title-section{
    color:var(--color-dark);
    font-family: var(--font-montserra-bold);
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;

}
.fontsize-27{
    font-size: 27px;
}
.call-title{
    font-family: var(--font-roboto-regular);
    font-weight: 700;
    font-size: 48px;
}
.text-center{
    text-align: center;
}
.text-white{
    color:var(--color-white);
}
.text-lg{
    font-size: 30px;
    font-weight: 400;
}
.text-upper{
    text-transform: uppercase;
}
.text-dark{
    color: var(--color-dark);
}
.text-danger{
    color:var(--color-danger); ;
}
.text-violet{
    color: var(--violet);
}

/*-----------End (Initiaisation, Utilitaires,..)---------*/


/** 
 -------------------Debut du corps css -----------------

*/
/**-------------hearder------------------ */
.header{
    padding-left: 2vw;
    padding-right: 4vw;
    background-color: var(--bg-color);
    height: 80px;
    font-weight: bold;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 7;
}
.logo-home{
    width: 100.95;
    height: 60.00px;
    
    
}
.header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.header nav ul li{
    list-style: none;
    width: max-content;
    padding: 0;
    /* margin-bottom: 2rem; */
}
.header nav ul li a{
   
    text-decoration: none;
    padding: 1em;
}
.header nav ul li span{
   width: 0;
   transition: all 0.4s;
   height: 2px;
   background-color: var(--color-white);
   
}
.header nav ul li:hover span{
    width: 100%;

}

/** --------------------main -------------------- */
.main{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: stretch;
}
.main .banner{
    background-image: url("../images/hero-background.jpg");
    background-size: cover;
    padding-bottom: 5rem;
}
.main .banner-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.main .banner-container .bg-title h1{
    font-family: var(--font-montserra-black);
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    margin-top: 1.5em;
}
.main .banner-container .bg-title h1 span {
    color: #ffe64d;
}
.main .btn-text{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 2%;
}
.main .btn-text .bg-btn{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: stretch;
        margin-top: 30px;
      
        
}

.main .btn-text .bg-btn a:hover{
    background-color: transparent;
    color:var(--color-white);
    border: 2px solid var(--color-white);
    
  
}
.bg-text p{
    font-family: var(--font-montserra-regular);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-top: 1rem;
}
.main .bg-icons{
    height: 30%;
    display: flex;
    flex-flow: row wrap;
    justify-content:  space-around;
    align-items: center;
    padding: 4rem;
    opacity: 0.5;
}
.main .bg-icons div *{
    width: 50px;
    height: auto;
}
.kda{
    
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
 
   
    
}
.flex-kda-present{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    margin-right: 8rem;
  
}
.flex-kda-present .flex-kad-b{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-start;
    
}
.kda-flex{
    padding-right: 6rem;
}
.kda-col img{
    border-bottom: 2px solid #ff0404;
    padding-bottom: 2rem;
}
.kda-col h5{
    color: var(--color-dark);
    font-family: var(--font-montserra-bold);
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}
.kda-col img{
    margin-bottom: 4rem;
}
.kda-col img{
    width: 50px;
    height:90px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.img{
    border-radius: 20px;
}
.img-cohorte-2020{
    position: relative;
    left: 16.5rem;
    top: -12rem;
    width: 347.767px;
    height: 260.817px;
}
.img-texaf-campus{
    width: 521px;
    height: 398px;
    border-bottom-left-radius:0;
    border-top-left-radius:0;
}
.kda-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;

}
.kda-flex p{
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
}
.kda-flex img{
    width: 50px;
    height:90px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.partenaires,.works{
     background-color: var(--bg-color);
}
.partenaires .bg-parteners{
    height: 30%;
    
    display: flex;
    flex-flow: row wrap;
    justify-content:  space-around;
    align-items: center;
    padding: 4rem;
   
    overflow: hidden;
    animation: glisse 5s infinite;
   
}
.bg-parteners div img{
    width: 100px;
    max-width: 100%;
    height: auto;
}
/* #slider{
    width: 100px;
    overflow: hidden;
}
#slider .animates{
    animation: glisse 20s infinite;
} */
@keyframes glisse{
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(-100px);
    }
    20%{
        transform: translateX(-300px);
    }
    30%{
        transform: translateX(-500px);
    }
    40%{
        transform: translateX(-700px);
    }
    50%{
        transform: translateX(-900);
    }
    70%{
        transform: translateX(-1200);
    }
    80%{
        transform: translateX(-1500);
    }
    90%{
        transform: translateX(-3000);
    }
    100%{
        transform: translateX(0);
    }
}
.accompagnement{
    /*background-color: #d3c9ca;*/
    max-width: auto;
}
.project-content{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5rem;
    padding: 4rem;
}
.projets,.project{
    display: flex;
    flex-flow: column;
    justify-content:space-between;
    align-items: center;
    border-top: 10px solid #ffe64d;
    height: 18rem;
    width: 35rem;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.project{
    border-top: 10px solid var(--color-danger);
}
.codings{
    display: flex;
    flex-flow:  row wrap;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color-white);
    font-size: 12px;
    font-family: var(--font-montserra-light);
}
.codings div>img{
    border-radius: 1rem;
    height: 25.4rem;
    width: 20rem;
}
.code-reactN{
    width: 20px;
    height: 20px;
}
.techno-work{
    background-color: #e95159;
    border: 1px solid #e95159;
    padding: 0.3rem;
    margin-top: 1rem;
    
}
.work-contries
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0.3rem;
    
}
.work-contries .work-contry{
    background-color: var(--color-white);
    width: 30%;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    color: var(--btn-danger);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  

}
.work-contry img{
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
.techno-work>img{
   width: 20px;
   height: 20px;
    
}
.expertises-section{
    background-color: var(--color-white);
    
}
.col{
   
    font-size: 20.8px;
    line-height: 31.2px;
    color: var(--color-dark);
}
.col .hardkills{
    background-color: var(--color-whitedark);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
/* .expertise{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20.8px;
    line-height: 31.2px;
    color: var(--color-dark);
}
.expertise .hardkills{
    background-color: var(--color-whitedark);
    width: 45%;
    max-width: 100%;
    height: 450px;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
} */
.kills-title-global{
    height: 4.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1rem;
    color: var(--color-white);
    font-family: var(--font-montserra-bold);
    font-weight: 700;
    font-size: 20px;
    line-height: 48px;
    
}
.hardkills-title{
    background-color: var(--bg-color);;
}
.hardkills-techno-content{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
   
}
.hardkills-techno-content img{
   max-width: auto;;
   max-width:auto;
   height: 3rem;
    
}
.hardkills-techno-content{
   text-align: center;
}
.col .softkills{
    background-color: var(--color-whitedark);
    height: 450px;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
   
}
.softkills .softkills-title{
    background-color: #331f40;
    
}
.soft-kills-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.soft-content{
    background-color: #dfdee1;
    width: 350px;
    height: 300px;
    margin-top: 2rem;
    border-radius: 10px;
    /* box-shadow: 2px 2px 4px #dfdee1; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 2rem;
    
}

.call-section{
    background-color: var(--color-danger-dark);
    color: var(--color-white);
}
.call{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}
.btn-call{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.img-call-flex{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}
.img-call-flex .img-f{
        border: 1px solid var(--color-white);
        border-radius: 10px;
        width: 70px;
        height: 71px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}
.img-call-flex img{
    width: 35px;
}
.call-text p{
    margin-top: 1rem;
    margin-right: 5rem;
    font-size: 1.2rem;
    font-weight: bold;
}
.Onboarding{
    position: relative;
    left: 2.5rem;
}
.emploi-section{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}
.emploi-one,.card-emploi{
    width: 50%;
}
.students{
    width: 550px;
    height: 230px;
  
}
.card{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}
.card div{
    width: 50%;
    background-color: var(--color-white);
    border-radius: 15px;
}
.card img{
    width: 50px;
    height: 50px;
}
.card-title{
    font-family: var(--font-montserra-bold);
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    color: var(--color-dark);
    margin-top: 0.3rem;
}
.card-text{
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: var(--color-dark);
    margin-bottom: 5rem;
    margin-top: 00.5rem;
}
.media-section{
    background-color: #111111;
}
.media-section .medias{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.media-section .medias{
    padding-left: 18.5rem;
    padding-right: 18.5rem;
    padding-bottom: 5rem;
}

.twitter article img{
    width: 260px;
    max-width: 100%;
    height: 160px;
    border-radius: 10px;
}
.twitter article *{
    width: 260px;
    
}
.twitter{
    background-color: var(--color-white);
    padding: 3.2rem;
}
.twitter-present,.twitter-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    
}
.twitter-content{
    margin-top: 2.5rem;
}

.twitt p{
    font-size: 16px;
    line-height: 24px;
    color: var(--color-dark);
    padding: 0.3em;
}
.form-section{
    background-color: var(--bg-form-section);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   

}
.form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   

}
.form-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.form-title{
    color: var(--color-white);
    opacity: 0.8;
    text-align: center;
    font-size:48px;
    line-height:57.6px;
   
}
.form-sub-title{
    color:var(--color-white);
    font-family:var(--font-montserra-bold);
    font-size:16px;
    line-height:24px;
    text-align: center;
    margin-bottom: 1.4rem;
}
.form-sub-title-strong{
    color: #d92950;
}
.form-control{
    width: 100%;
    height: 38px;
    margin-bottom: 1rem;
}
.form-control::placeholder{
  font-family: var(--font-roboto-regular);
  font-size: 16px;
  padding-left: 1rem;
}
.form-text{
    margin-bottom: 2rem;
    opacity: 0.8;
}
.form-montserra{
    font-family: var(--font-montserra-regular);
    font-size: 1rem;
    line-height: 2rem;
    margin: 0;
    
}
select{
    color: #737477;
    font-size: 1rem;
    padding-left: 0.8rem;
    
}
.custom-select{
    position: relative;
    width: 96%;
}
.custom-arrow{
    
    background-color: red;
    height: 300px;
    width: 14%;
    width: 1rem;
   
}

/**-----------------Footer--------------**/
.footer{
    background-color: #2d2d2d;
    font-family:var(--font-roboto-regular);
    font-size:22.4px;
    line-height:33.6px;
    letter-spacing:normal;
    word-spacing:0px;
    margin:0px;
    padding:160px 0px 96px;
    font-weight:400;
    font-style:normal;
    font-variant:normal;
    text-align:left;
    color: var(--color-white);
}
.footer address{
    font-size:21.5px;
}
address .address-title{
    opacity: 1;
    font-style: normal;
}
.address-content{
    font-style: normal;
    opacity: 0.9;
}
.address-virtual *{
  color: #ff046b;
}
.contact-social-links ul li{
    display: inline-block;
    margin-right: 1rem;
}
.footer-newsletter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--font-montserra-regular);
}
.footer-form{
    display: flex;
    flex: row;
    justify-content: flex-start;
    align-items: center;
}
.footer-form-control{
    width: 75%;
    height: 60px;
    margin-right: 0;
}
.footer-btn{
    background-color: var(--bg-color-one);
    color: var(--color-white);
    width: 25%;
    height: 60px;
    text-transform: uppercase;
    margin-left: 0;
    cursor: pointer;
    border: 0;
    border-bottom-right-radius: 14.5px;
    border-top-right-radius: 14.5px;
    font-family: var(--font-montserra-bold);
    font-size: 14px;
}
.footer-btn:hover{
    background-color: #2d2d2d;
    color: #1e1127;
}
.fab{
    color: #c50957;
    font-size:32px;
}
.fab:hover{
    color: #ff046b;
    font-size:32px;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
    border-bottom: 4px solid #ff046b;
}

.footer-cgi{
    font-size: 16px;
    line-height: 19.2px;
    font-family: var(--font-montserra-bold);
}

 
/** 
 --------------------------footer---------------------------

*/

